In [8]:
# import module
from datetime import time

#Creating a time object
#time(hour, minute, second, microsecond) 
t = time(14, 42, 5, 566) 
print ("time =",t)

time = 14:42:05.000566

In [47]:
# import module and class
from datetime import datetime

dt = datetime (2017,1,28,23,55,59,1023)
print("year =", dt.year)
print("month =", dt.month)
print("day =", dt.day)
print("hour =", dt.hour)
print("minute =", dt.minute)
print("seconds =", dt.second)
print("micro seconds =", dt.microsecond)

year = 2017
month = 1
day = 28
hour = 23
minute = 55
seconds = 59
micro seconds = 1023

In [44]:
print("datetime =",dt)

datetime = 2017-01-28 23:55:59.001023

In [48]:
# current date and time 
now = datetime.now() 
print('Current time', now)

Current time 2022-03-27 21:27:26.085954

In [49]:
#printing current year, month and day
from datetime import date
#date object of today's date
today = date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2022
Current month: 3
Current day: 27

In [53]:
date_string = "28 January 2017"

print("date_string=", date_string)
print("Data type of date-string -->" , type(date_string))

date_string= 28 January 2017
Data type of date-string --> <class 'str'>

In [55]:
import pandas as pd

dr = pd.date_range(start='2022-01-01', end='2022-03-01')
df = pd.DataFrame()
df['Date'] = dr
df['Week_Day'] = pd.to_datetime(dr).weekday
df['Day_name'] = pd.to_datetime(dr).strftime("%A")
df['Month_name'] = pd.to_datetime(dr).strftime("%B")
df

         Date  Week_Day   Day_name Month_name
0  2022-01-01         5   Saturday    January
1  2022-01-02         6     Sunday    January
2  2022-01-03         0     Monday    January
3  2022-01-04         1    Tuesday    January
4  2022-01-05         2  Wednesday    January
5  2022-01-06         3   Thursday    January
6  2022-01-07         4     Friday    January
7  2022-01-08         5   Saturday    January
8  2022-01-09         6     Sunday    January
9  2022-01-10         0     Monday    January
10 2022-01-11         1    Tuesday    January
11 2022-01-12         2  Wednesday    January
12 2022-01-13         3   Thursday    January
13 2022-01-14         4     Friday    January
14 2022-01-15         5   Saturday    January
15 2022-01-16         6     Sunday    January
16 2022-01-17         0     Monday    January
17 2022-01-18         1    Tuesday    January
18 2022-01-19         2  Wednesday    January
19 2022-01-20         3   Thursday    January
20 2022-01-21         4     Friday    January
21 2022-01-22         5   Saturday    January
22 2022-01-23         6     Sunday    January
23 2022-01-24         0     Monday    January
24 2022-01-25         1    Tuesday    January
25 2022-01-26         2  Wednesday    January
26 2022-01-27         3   Thursday    January
27 2022-01-28         4     Friday    January
28 2022-01-29         5   Saturday    January
29 2022-01-30         6     Sunday    January
30 2022-01-31         0     Monday    January
31 2022-02-01         1    Tuesday   February
32 2022-02-02         2  Wednesday   February
33 2022-02-03         3   Thursday   February
34 2022-02-04         4     Friday   February
35 2022-02-05         5   Saturday   February
36 2022-02-06         6     Sunday   February
37 2022-02-07         0     Monday   February
38 2022-02-08         1    Tuesday   February
39 2022-02-09         2  Wednesday   February
40 2022-02-10         3   Thursday   February
41 2022-02-11         4     Friday   February
42 2022-02-12         5   Saturday   February
43 2022-02-13         6     Sunday   February
44 2022-02-14         0     Monday   February
45 2022-02-15         1    Tuesday   February
46 2022-02-16         2  Wednesday   February
47 2022-02-17         3   Thursday   February
48 2022-02-18         4     Friday   February
49 2022-02-19         5   Saturday   February
50 2022-02-20         6     Sunday   February
51 2022-02-21         0     Monday   February
52 2022-02-22         1    Tuesday   February
53 2022-02-23         2  Wednesday   February
54 2022-02-24         3   Thursday   February
55 2022-02-25         4     Friday   February
56 2022-02-26         5   Saturday   February
57 2022-02-27         6     Sunday   February
58 2022-02-28         0     Monday   February
59 2022-03-01         1    Tuesday      March